*, *::before, *::after {
    box-sizing: border-box;
    outline: 1px solid red;
}



body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

header h1 {
    font-size: 3rem;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: #a0c0c0;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightblue;
    padding: 15px 10px;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hide {
    display: none;
}

/* This class allows the unused buttons to be hidden, but stops the quiz card from
 changing sizes like would happen with .hide */
.invisible {
    visibility: hidden;
}

/* The following styles are for high-score.html */

.container h1, .container h2 {
    text-align: center;
}

#score-form {
    display: flex;
    flex-wrap: wrap;
}

.high-score-controls {
    width: 100%;

}

form input {
    outline: none;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 2.2rem;
    border: 2px solid var(--grey);
    border-radius: 12px;
  }