* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

header h1 {
    font-size: 4rem;
}

.question-box {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
}

.question {
    display: flex;
    flex-wrap: wrap;
}

.question h3 {
    width: 100%;
}